# Recipe Labelling

## Set up for the work

In [3]:
! pip install snorkel

Requirement already satisfied: snorkel in /usr/local/lib/python3.6/dist-packages (0.9.3)
Requirement already satisfied: tqdm<5.0.0,>=4.33.0 in /usr/local/lib/python3.6/dist-packages (from snorkel) (4.43.0)
Requirement already satisfied: tensorboardX<2.0,>=1.6 in /usr/local/lib/python3.6/dist-packages (from snorkel) (1.9)
Requirement already satisfied: scikit-learn<0.22.0,>=0.20.2 in /usr/local/lib/python3.6/dist-packages (from snorkel) (0.21.3)
Requirement already satisfied: scipy<2.0.0,>=1.2.0 in /usr/local/lib/python3.6/dist-packages (from snorkel) (1.4.1)
Requirement already satisfied: pandas<0.26.0,>=0.25.0 in /usr/local/lib/python3.6/dist-packages (from snorkel) (0.25.3)
Requirement already satisfied: munkres==1.1.2 in /usr/local/lib/python3.6/dist-packages (from snorkel) (1.1.2)
Requirement already satisfied: torch<1.2.0,>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from snorkel) (1.1.0)
Requirement already satisfied: networkx<2.4,>=2.2 in /usr/local/lib/python3.6/dist-packages (from snorkel) (2.3)
Requirement already satisfied: numpy<2.0.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from snorkel) (1.17.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from tensorboardX<2.0,>=1.6->snorkel) (1.12.0)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from tensorboardX<2.0,>=1.6->snorkel) (3.10.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn<0.22.0,>=0.20.2->snorkel) (0.14.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas<0.26.0,>=0.25.0->snorkel) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas<0.26.0,>=0.25.0->snorkel) (2.6.1)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx<2.4,>=2.2->snorkel) (4.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.8.0->tensorboardX<2.0,>=1.6->snorkel) (45.2.0)

In [4]:
! pip install spacy

Requirement already satisfied: spacy in /usr/local/lib/python3.6/dist-packages (2.1.9)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (2.21.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (1.17.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (1.0.2)
Requirement already satisfied: blis<0.3.0,>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from spacy) (0.2.4)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy) (2.0.3)
Requirement already satisfied: thinc<7.1.0,>=7.0.8 in /usr/local/lib/python3.6/dist-packages (from spacy) (7.0.8)
Requirement already satisfied: plac<1.0.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy) (0.9.6)
Requirement already satisfied: srsly<1.1.0,>=0.0.6 in /usr/local/lib/python3.6/dist-packages (from spacy) (1.0.1)
Requirement already satisfied: wasabi<1.1.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (0.6.0)
Requirement already satisfied: preshed<2.1.0,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from spacy) (2.0.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /usr/local/lib/python3.6/dist-packages (from thinc<7.1.0,>=7.0.8->spacy) (4.43.0)

In [5]:
!python -m spacy download en_core_web_sm

Requirement already satisfied: en_core_web_sm==2.1.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm==2.1.0 in /usr/local/lib/python3.6/dist-packages (2.1.0)
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')

In [6]:
! pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.12.0)

In [8]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
import nltk
from nltk import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
import re
import string

In [0]:
# Display full output rather than just the last line of output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [0]:
# Load dataset
import pandas as pd

indian = pd.read_csv("/content/data_indian (1).csv")
indian['label'] = 'indian'
italian = pd.read_csv("/content/data_italian.csv")
italian['label'] = 'italian'
mexican = pd.read_csv("/content/data_mexican.csv")
mexican['label'] = 'mexican'

In [32]:
len(indian)
len(mexican)
len(italian)

480

620

400

In [33]:
# Concat them into one dataset
recipe = pd.concat([indian, italian, mexican],ignore_index = True)
recipe

                                         Title  ...    label
0                           Indian Peanut Stew  ...   indian
1                                 Roomali Roti  ...   indian
2                     Spicy Sweet Potato Salad  ...   indian
3                                 Chicken Saag  ...   indian
4                  Paleo Slow Cooker Pork Loin  ...   indian
...                                        ...  ...      ...
1495                                 Taco Stew  ...  mexican
1496  Chicken Tortilla Soup in the Slow Cooker  ...  mexican
1497      Bountiful Garden Zucchini Enchiladas  ...  mexican
1498          Bean and Honey Burrito Casserole  ...  mexican
1499                  Green Chile Chicken Stew  ...  mexican

[1500 rows x 3 columns]

In [0]:
## Clean dataset

In [0]:
# Clean the dataset
# Lowercase
recipe = recipe.apply(lambda row: row.str.lower())

# Remove digits
recipe['Title'] = recipe.apply((lambda row: ''.join([i for i in row['Title'] if not i.isdigit()])),axis = 1)
recipe['Description'] = recipe.apply((lambda row: ''.join([i for i in row['Description'] if not i.isdigit()])),axis = 1)

# Remove punctuations
recipe['Title'] = recipe.apply((lambda row: ''.join([i for i in row['Title'] if i not in string.punctuation])),axis=1)
recipe['Description'] = recipe.apply((lambda row: ''.join([i for i in row['Description'] if i not in string.punctuation])),axis=1)

# Remove Stopwords
stop = stopwords.words('english')
recipe['Title'] = recipe['Title'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
recipe['Description'] = recipe['Description'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [36]:
recipe.head()

                         Title  ...   label
0           indian peanut stew  ...  indian
1                 roomali roti  ...  indian
2     spicy sweet potato salad  ...  indian
3                 chicken saag  ...  indian
4  paleo slow cooker pork loin  ...  indian

[5 rows x 3 columns]

In [0]:
# The separation of three dataset

#new recipe for Indian
recipe_ind_new = recipe.loc[recipe['label'] == 'indian']

#new recipe for Italian
recipe_ita_new = recipe.loc[recipe['label'] == 'italian']

#new recipe for Mexican
recipe_mex_new = recipe.loc[recipe['label'] == 'mexican']

In [132]:
# drop some key words for three recipes

# drop the indian in indian recipe Description and title
#new_ind_T = recipe_ind_new['Title'].str.replace(r"indian", "").to_frame
#new_ind_D = recipe_ind_new['Description'].str.replace(r"indian", "").to_frame
#df_ind_new = pd.concat([new_ind_T,new_ind_D],axis=1,sort=False)
#df_ind_new['label'] = 'indian'
#df_ind_new

# drop the italian in italian recipe Description and title
new_ita_T = recipe_ita_new['Title'].str.replace(r"italian", "")
new_ita_D = recipe_ita_new['Description'].str.replace(r"italian", "")
new_ita_T_df = pd.DataFrame(new_ita_T)
new_ita_D_df = pd.DataFrame(new_ita_D)
df_ita_new = pd.concat([df_title_ita_T,df_title_ita_D],axis=1,sort=False)
df_ita_new['label'] = 'italian'
df_ita_new

# drop the mexican in mexican recipe Description and title
new_mex_T = recipe_mex_new['Title'].str.replace(r"mexican", "")
new_mex_D = recipe_mex_new['Description'].str.replace(r"mexican", "")
new_mex_T_df = pd.DataFrame(new_mex_T)
new_mex_D_df = pd.DataFrame(new_mex_D)
df_mex_new = pd.concat([new_mex_T_df,new_mex_D_df],axis=1,sort=False)
df_mex_new['label'] = 'mexican'
df_mex_new

                               Title  ...    label
480     california chicken spaghetti  ...  italian
481            parmesan garlic bread  ...  italian
482            pesto polenta lasagna  ...  italian
483               classic minestrone  ...  italian
484        rich  sausage potato soup  ...  italian
..                               ...  ...      ...
875                 manicotti cheese  ...  italian
876             mushroom sauce pasta  ...  italian
877            hearty  meatball soup  ...  italian
878  easy vegetarian spinach lasagna  ...  italian
879   ham butternut squash spaghetti  ...  italian

[400 rows x 3 columns]

                                     Title  ...    label
880                chicken tortilla soup v  ...  mexican
881                  slow cooker taco soup  ...  mexican
882          delicious black bean burritos  ...  mexican
883                  black bean salsa soup  ...  mexican
884                   slow cooker carnitas  ...  mexican
...                                    ...  ...      ...
1495                             taco stew  ...  mexican
1496     chicken tortilla soup slow cooker  ...  mexican
1497  bountiful garden zucchini enchiladas  ...  mexican
1498          bean honey burrito casserole  ...  mexican
1499              green chile chicken stew  ...  mexican

[620 rows x 3 columns]

In [133]:
df_mex_new
top_N = 15
title3_1 = df_mex_new.Title.str.cat(sep=' ')
words_in_title3_1 = nltk.tokenize.word_tokenize(title3_1)
word_dist_title3_1 = nltk.FreqDist(words_in_title3_1)
mexi_new_frq = pd.DataFrame(word_dist_title3_1.most_common(top_N),
                    columns=['Mexican', 'Frequency'])
mexi_new_frq

                                     Title  ...    label
880                chicken tortilla soup v  ...  mexican
881                  slow cooker taco soup  ...  mexican
882          delicious black bean burritos  ...  mexican
883                  black bean salsa soup  ...  mexican
884                   slow cooker carnitas  ...  mexican
...                                    ...  ...      ...
1495                             taco stew  ...  mexican
1496     chicken tortilla soup slow cooker  ...  mexican
1497  bountiful garden zucchini enchiladas  ...  mexican
1498          bean honey burrito casserole  ...  mexican
1499              green chile chicken stew  ...  mexican

[620 rows x 3 columns]

       Mexican  Frequency
0      chicken        118
1   enchiladas         57
2         taco         41
3         soup         39
4         bean         37
5        salsa         36
6    casserole         36
7         beef         31
8         rice         30
9        tacos         30
10        easy         29
11   enchilada         27
12         dip         27
13          ii         26
14        corn         25

## Pattern Exploration

Before splitting the dataset and writing labelling function,  we might want to first get an idea of how our targetting labels look like. This gives us some basic information of how to start building the labelling function.

In [19]:
# Patterns from different recipes

# Filter out different recipes
recipe_ind = recipe[recipe['label'] == 'indian']
recipe_ita = recipe[recipe['label'] == 'italian']
recipe_mex = recipe[recipe['label'] == 'mexican']

# Word frequency in 'Title'
top_N = 15

title1 = recipe_ind.Title.str.cat(sep=' ')
words_in_title1 = nltk.tokenize.word_tokenize(title1)
word_dist_title1 = nltk.FreqDist(words_in_title1)

title2 = recipe_ita.Title.str.cat(sep=' ')
words_in_title2 = nltk.tokenize.word_tokenize(title2)
word_dist_title2 = nltk.FreqDist(words_in_title2)

title3 = recipe_mex.Title.str.cat(sep=' ')
words_in_title3 = nltk.tokenize.word_tokenize(title3)
word_dist_title3 = nltk.FreqDist(words_in_title3)

ind_freq = pd.DataFrame(word_dist_title1.most_common(top_N),
                    columns=['Indian', 'Frequency'])
ita_freq = pd.DataFrame(word_dist_title2.most_common(top_N),
                    columns=['Italian', 'Frequency'])
mex_freq = pd.DataFrame(word_dist_title3.most_common(top_N),
                    columns=['Mexican', 'Frequency'])

title_freq = pd.concat([ind_freq,ita_freq,mex_freq],axis = 1)
title_freq

     Indian  Frequency    Italian  Frequency     Mexican  Frequency
0   chicken         92    italian         76     chicken        118
1     curry         82    chicken         52     mexican        100
2    indian         72      pasta         45  enchiladas         57
3    masala         30      sauce         38        taco         41
4      rice         28    lasagna         33        soup         39
5     spicy         25    sausage         23        bean         37
6   curried         21      pizza         23       salsa         36
7    paneer         20         ii         23   casserole         36
8   chutney         20  spaghetti         19        beef         31
9      soup         20      bread         18        rice         30
10    salad         19     cheese         17       tacos         30
11     easy         19       soup         16        easy         29
12     lamb         17     tomato         16   enchilada         27
13   tomato         17      salad         13         dip         27
14   potato         16       easy         12          ii         26

It is easier to find patterns and differences of recipes if we display titles of three recipes together. The same goes for description.

**Ideas of building Labelling functions:**

- Single word (specific ones), such as curry, masala, paneer and chutney for indian repice. These words can label one type of recipe quite well because of their specialty (they will not appear in other recipes). Except for words included in top 15 frequency list, they must be other special words, which might need go through the whole dataset to find.

- Word combos, such as **curry + chicken = indian** :) You might find that chicken are used a lot in both indian and mexican recipe, while a way to label them might be find a **word combos** (function = special word + main ingrediant).

In [0]:
# Word frequency in 'Description'
des1 = recipe_ind.Description.str.cat(sep=' ')
words_in_des1 = nltk.tokenize.word_tokenize(des1)
word_dist_des1 = nltk.FreqDist(words_in_des1)

des2 = recipe_ita.Description.str.cat(sep=' ')
words_in_des2 = nltk.tokenize.word_tokenize(des2)
word_dist_des2 = nltk.FreqDist(words_in_des2)

des3 = recipe_mex.Description.str.cat(sep=' ')
words_in_des3 = nltk.tokenize.word_tokenize(des3)
word_dist_des3 = nltk.FreqDist(words_in_des3)

d1_freq = pd.DataFrame(word_dist_des1.most_common(top_N),
                    columns=['Ind_description', 'Frequency'])
d2_freq = pd.DataFrame(word_dist_des2.most_common(top_N),
                    columns=['Ita_description', 'Frequency'])
d3_freq = pd.DataFrame(word_dist_des3.most_common(top_N),
                    columns=['Mex_description', 'Frequency'])

des_freq = pd.concat([d1_freq,d2_freq,d3_freq],axis=1)
des_freq

   Ind_description  Frequency  ... Mex_description  Frequency
0           indian        119  ...         chicken        126
1            curry        101  ...            beef         77
2             dish         83  ...          recipe         77
3          chicken         80  ...          cheese         76
4           recipe         61  ...         mexican         69
5             rice         53  ...            corn         68
6            spicy         51  ...            make         68
7           spices         50  ...           sauce         64
8             made         48  ...           beans         62
9            sauce         44  ...           salsa         58
10            easy         41  ...           spicy         53
11        simmered         39  ...       tortillas         53
12          yogurt         36  ...            easy         51
13        potatoes         35  ...          ground         48
14            make         35  ...            rice         47

[15 rows x 6 columns]

<div class="alert alert-success">

As you might have noticed, indian food and mexican food share some similarities, such as spicy-related words, sauce-related words, rice, etc. This is somewhere that we need to keep an eye on.
</b>

## Split the dataset

As being discussed in group meeting, we split the dataset into training, validation, development and test datasets.

If we do multi-labelling, we need to make sure that all datasets above contains same proportion of the 3 recipes. I decided to have 30% labelled data, in which 10% for dev set, 10% for validation set, and the remaining 10% for test set. We left 70% data to training set.

In [0]:
# Split the dataset
# Use ShuffleStratifiedSplit to ensure same proportion of each dataset
from sklearn.model_selection import StratifiedShuffleSplit
sss = StratifiedShuffleSplit(n_splits=3, test_size=0.3, random_state=0)

# Get different labelled data
ind = recipe[recipe['label'] == 'indian']
ind.reset_index(drop=True,inplace=True)
ita = recipe[recipe['label'] == 'italian']
ita.reset_index(drop=True,inplace=True)
mex = recipe[recipe['label'] == 'mexican']
mex.reset_index(drop=True,inplace=True)

# Split function (leave 70% for training)
def shuffle_split(df,sss):
  X = df[['Title','Description']]
  y = df['label']
  for train_index, test_index in sss.split(X, y):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    return X_train, X_test, y_train, y_test

ind_X_train, ind_X_test, ind_y_train, ind_y_test = shuffle_split(ind,sss)
ita_X_train, ita_X_test, ita_y_train, ita_y_test = shuffle_split(ita,sss)
mex_X_train, mex_X_test, mex_y_train, mex_y_test = shuffle_split(mex,sss)

In [0]:
print('indian: ',len(ind_X_train),len(ind_X_test))
print('italian: ',len(ita_X_train),len(ita_X_test))
print('mexican: ',len(mex_X_train),len(mex_X_test))

indian:  336 144
italian:  280 120
mexican:  434 186

In [0]:
# Combine training and test dataset
X_train = pd.concat([ind_X_train,ita_X_train,mex_X_train],axis=0)
y_train = pd.concat([ind_y_train,ita_y_train,mex_y_train],axis=0)
X_test =  pd.concat([ind_X_test,ita_X_test,mex_X_test],axis=0)
y_test =  pd.concat([ind_y_test,ita_y_test,mex_y_test],axis=0)

In [0]:
# Combine training dataset
train = pd.concat([X_train,y_train],axis=1)

In [0]:
# Combine the test dataset for next splitting
test = pd.concat([X_test,y_test],axis=1)
test = test.reset_index(drop=True)

Split development and validation dataset from test dataset.

In [0]:
# From randomly sampled test set get dev set and validation set.

ind_val, ind_dev = test[:48], test[48:96]
ita_val, ita_dev = test[144:184], test[184:224]
mex_val, mex_dev = test[264:326], test[326:388]
ind_test, ita_test, mex_test = test[96:144],test[224:264],test[388:450]

In [0]:
# Combine val, dev and test set

val = pd.concat([ind_val,ita_val,mex_val],axis=0)
dev = pd.concat([ind_dev,ita_dev,mex_dev],axis=0)
test_n = pd.concat([ind_test,ita_test,mex_test],axis=0)

As we split the dataset by different countries, we need to shuffle them before training.

In [0]:
from sklearn.utils import shuffle
train = shuffle(train, random_state = 42)
test = shuffle(test_n, random_state = 42)
val = shuffle(val, random_state = 42)
dev = shuffle(dev, random_state = 42)

To apply LFAnalysis, we need to change labels to number.

In [0]:
# Change labels to number
def label_to_num(df):
    df.label = df.label.apply(lambda x: 0 if x == 'indian' else(1 if x == 'italian' else 2))
    return df
    
test_n = label_to_num(test_n)
val = label_to_num(val)
dev = label_to_num(dev)

In [0]:
# Prepare for later training
df_train = train.iloc[:,:2]
df_val = val.iloc[:,:2]
df_dev = dev.iloc[:,:2]
Y_val = val.iloc[:,-1].values
Y_dev = dev.iloc[:,-1].values

# Labelling functions

In [0]:
from snorkel.labeling import labeling_function

In [0]:
# For clarity, we define constants to represent the class labels and abstaining.
ABSTAIN = -1
INDIAN = 0
ITALIAN = 1
MEXICAN = 2

## Keywords LFs

In [0]:
ind_keywords = ['curry','indian','masala','paneer','chutney']

@labeling_function()
def indian_keywords(x):
        if any(word in x.Title for word in ind_keywords):
            return INDIAN
        else:
            return ABSTAIN

In [0]:
import re

@labeling_function()
def curchicken(x):
    return INDIAN if re.search(r"curry.*chicken", x.Description, flags=re.I) else ABSTAIN

In [0]:
from snorkel.labeling import PandasLFApplier

lfs = [indian_keywords, curchicken]

applier = PandasLFApplier(lfs=lfs)
L_train = applier.apply(df=df_train)
L_dev = applier.apply(df=df_dev)

100%|██████████| 1050/1050 [00:00<00:00, 10653.04it/s]
100%|██████████| 150/150 [00:00<00:00, 9695.87it/s]

In [0]:
from snorkel.labeling import LFAnalysis

LFAnalysis(L=L_train, lfs=lfs).lf_summary()

                 j Polarity  Coverage  Overlaps  Conflicts
indian_keywords  0      [0]  0.144762   0.00381        0.0
curchicken       1      [0]  0.004762   0.00381        0.0

In [0]:
Y_dev

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0,
       0, 1, 2, 2, 1, 2, 2, 2, 1, 0, 2, 1, 0, 0, 0, 1, 2, 0, 0, 0, 2, 0,
       2, 2, 0, 2, 2, 0, 2, 2, 1, 1, 2, 1, 0, 2, 2, 1, 0, 1, 1, 0, 2, 0,
       0, 1, 2, 2, 1, 2, 2, 2, 0, 0, 2, 2, 0, 0, 0, 1, 2, 0, 2, 2, 0, 1,
       1, 2, 1, 2, 0, 2, 1, 2, 1, 1, 2, 0, 1, 2, 1, 2, 2, 2, 0, 1, 2, 2,
       0, 2, 0, 1, 2, 2, 2, 2, 1, 1, 2, 2, 0, 1, 2, 0, 2, 2])

In [0]:
LFAnalysis(L=L_dev, lfs=lfs).lf_summary(Y=Y_dev)

                 j Polarity  Coverage  ...  Correct  Incorrect  Emp. Acc.
indian_keywords  0      [0]      0.12  ...       18          0        1.0
curchicken       1       []      0.00  ...        0          0        0.0

[2 rows x 8 columns]

# Slicingg functions

In [0]:
import re
from snorkel.slicing import slicing_function

In [0]:
ind_keywords = ['curry','indian','masala','paneer','chutney']

@slicing_function()
def indian_keywords_sf(x):
        if any(word in x.Title for word in ind_keywords):
            return INDIAN
        else:
            return ABSTAIN
indsf = [indian_keywords_sf]

In [0]:
@slicing_function()
def curchicken_sf(x):
    return INDIAN if re.search(r"curry.*chicken", x.Description, flags=re.I) else ABSTAIN

curcsf = [curchicken_sf]

In [0]:
from snorkel.slicing import slice_dataframe
indsf_df = slice_dataframe(X_test, indian_keywords_sf)
cursf_df = slice_dataframe(X_test, curchicken_sf)

100%|██████████| 450/450 [00:00<00:00, 8963.21it/s]
100%|██████████| 450/450 [00:00<00:00, 23002.93it/s]

In [0]:
indsf_df

                                             Title                                        Description
177                                       biriyani  one wellknown indianpakistani dishes made spic...
169                  cauliflower rice biryanistyle  cauliflower rice seasoned garam masala turmeri...
373                          sago sabudana khichdi  indian snack food made sago traditional favori...
50                chicken biryani hyderabadi style  trademark homecooking southern india luscious ...
195                                spicy swordfish  swordfish chunks simmered mango coconut mixtur...
..                                             ...                                                ...
543                                  mexican beans       wonderful mexican beans serve side dish meal
547                                   mexican soup  shredded chicken cuminspiced soup kidney beans...
605  super easy slow cooker chicken enchilada meat  easy slow cooker recipe delivers tender chicke...
477                     pancho villa baked tilapia  fillet individually seasoned lime fresh cilant...
490                                     sopapillas  flat bread easy prepare usually served somethi...

[386 rows x 2 columns]

In [0]:
indsf_df[["Title",'']].head()

KeyError: ignored