# Recipe Labelling

## Set up for the work

In [1]:
! pip install snorkel

Collecting snorkel
  Using cached snorkel-0.9.3-py3-none-any.whl (139 kB)
Collecting tqdm<5.0.0,>=4.33.0
  Using cached tqdm-4.43.0-py2.py3-none-any.whl (59 kB)
Collecting torch<1.2.0,>=1.1.0
  Using cached torch-1.1.0-cp36-cp36m-manylinux1_x86_64.whl (676.9 MB)
Collecting pandas<0.26.0,>=0.25.0
  Using cached pandas-0.25.3-cp36-cp36m-manylinux1_x86_64.whl (10.4 MB)
Collecting munkres==1.1.2
  Using cached munkres-1.1.2-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: numpy<2.0.0,>=1.16.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from snorkel) (1.18.1)
Processing /home/faculty/.cache/pip/wheels/81/dc/bb/fbde77ddcbf8d5a04787faf6cc9f1edf4c70a67961d7c75abf/networkx-2.3-py2.py3-none-any.whl
Requirement already satisfied: scipy<2.0.0,>=1.2.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from snorkel) (1.4.1)
Collecting scikit-learn<0.22.0,>=0.20.2
  Using cached scikit_learn-0.21.3-cp36-cp36m-manylinux1_x86_64.whl (6.7 MB)
Collecting tensorboardX<2.0,>=1.6
  Using cached tensorboardX-1.9-py2.py3-none-any.whl (190 kB)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from pandas<0.26.0,>=0.25.0->snorkel) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from pandas<0.26.0,>=0.25.0->snorkel) (2019.3)
Requirement already satisfied: decorator>=4.3.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from networkx<2.4,>=2.2->snorkel) (4.4.1)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from scikit-learn<0.22.0,>=0.20.2->snorkel) (0.14.1)
Requirement already satisfied: six in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from tensorboardX<2.0,>=1.6->snorkel) (1.14.0)
Requirement already satisfied: protobuf>=3.8.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from tensorboardX<2.0,>=1.6->snorkel) (3.11.3)
Requirement already satisfied: setuptools in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from protobuf>=3.8.0->tensorboardX<2.0,>=1.6->snorkel) (45.2.0.post20200210)
ERROR: faculty-models 0.1.1 has requirement mlflow-faculty>=0.4.3, but you'll have mlflow-faculty 0.4.2 which is incompatible.
Installing collected packages: tqdm, torch, pandas, munkres, networkx, scikit-learn, tensorboardX, snorkel
  Attempting uninstall: pandas
    Found existing installation: pandas 1.0.1
    Uninstalling pandas-1.0.1:
      Successfully uninstalled pandas-1.0.1
  Attempting uninstall: networkx
    Found existing installation: networkx 2.4
    Uninstalling networkx-2.4:
      Successfully uninstalled networkx-2.4
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.22.1
    Uninstalling scikit-learn-0.22.1:
      Successfully uninstalled scikit-learn-0.22.1
Successfully installed munkres-1.1.2 networkx-2.3 pandas-0.25.3 scikit-learn-0.21.3 snorkel-0.9.3 tensorboardX-1.9 torch-1.1.0 tqdm-4.43.0

In [2]:
! pip install spacy

Collecting spacy
  Downloading spacy-2.2.3-cp36-cp36m-manylinux1_x86_64.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 39.7 MB/s eta 0:00:01    |█████████████                   | 4.2 MB 39.7 MB/s eta 0:00:01
Collecting wasabi<1.1.0,>=0.4.0
  Downloading wasabi-0.6.0-py3-none-any.whl (20 kB)
Collecting blis<0.5.0,>=0.4.0
  Downloading blis-0.4.1-cp36-cp36m-manylinux1_x86_64.whl (3.7 MB)
     |████████████████████████████████| 3.7 MB 42.9 MB/s eta 0:00:01
Collecting catalogue<1.1.0,>=0.0.7
  Downloading catalogue-1.0.0-py2.py3-none-any.whl (7.7 kB)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (2.22.0)
Collecting murmurhash<1.1.0,>=0.28.0
  Downloading murmurhash-1.0.2-cp36-cp36m-manylinux1_x86_64.whl (19 kB)
Collecting cymem<2.1.0,>=2.0.2
  Downloading cymem-2.0.3-cp36-cp36m-manylinux1_x86_64.whl (32 kB)
Collecting thinc<7.4.0,>=7.3.0
  Downloading thinc-7.3.1-cp36-cp36m-manylinux1_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 83.8 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.15.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (1.18.1)
Collecting srsly<1.1.0,>=0.1.0
  Downloading srsly-1.0.2-cp36-cp36m-manylinux1_x86_64.whl (185 kB)
     |████████████████████████████████| 185 kB 93.8 MB/s eta 0:00:01
Collecting preshed<3.1.0,>=3.0.2
  Downloading preshed-3.0.2-cp36-cp36m-manylinux1_x86_64.whl (119 kB)
     |████████████████████████████████| 119 kB 95.0 MB/s eta 0:00:01
Collecting plac<1.2.0,>=0.9.6
  Downloading plac-1.1.3-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: setuptools in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy) (45.2.0.post20200210)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from catalogue<1.1.0,>=0.0.7->spacy) (1.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from thinc<7.4.0,>=7.3.0->spacy) (4.43.0)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (2.2.0)
Installing collected packages: wasabi, blis, catalogue, murmurhash, cymem, preshed, srsly, plac, thinc, spacy
Successfully installed blis-0.4.1 catalogue-1.0.0 cymem-2.0.3 murmurhash-1.0.2 plac-1.1.3 preshed-3.0.2 spacy-2.2.3 srsly-1.0.2 thinc-7.3.1 wasabi-0.6.0

In [3]:
!python -m spacy download en_core_web_sm

Collecting en_core_web_sm==2.2.5
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz (12.0 MB)
     |████████████████████████████████| 12.0 MB 727 kB/s eta 0:00:01
Requirement already satisfied: spacy>=2.2.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from en_core_web_sm==2.2.5) (2.2.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.2)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (0.6.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.0)
Requirement already satisfied: setuptools in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (45.2.0.post20200210)
Requirement already satisfied: numpy>=1.15.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.18.1)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.1.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (2.22.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (3.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (2.0.3)
Requirement already satisfied: thinc<7.4.0,>=7.3.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (7.3.1)
Requirement already satisfied: srsly<1.1.0,>=0.1.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.2)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_sm==2.2.5) (1.5.0)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (3.0.4)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from thinc<7.4.0,>=7.3.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (4.43.0)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_sm==2.2.5) (2.2.0)
Building wheels for collected packages: en-core-web-sm
  Building wheel for en-core-web-sm (setup.py) ... done
  Created wheel for en-core-web-sm: filename=en_core_web_sm-2.2.5-py3-none-any.whl size=12011738 sha256=f37dbee787d66b4d4e0bc953ef5f1a30477462791ed258fd6017f7fa8bf7b7d7
  Stored in directory: /tmp/pip-ephem-wheel-cache-7sl889qo/wheels/b5/94/56/596daa677d7e91038cbddfcf32b591d0c915a1b3a3e3d3c79d
Successfully built en-core-web-sm
Installing collected packages: en-core-web-sm
Successfully installed en-core-web-sm-2.2.5
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')

In [4]:
! pip install nltk

Requirement already satisfied: nltk in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (3.4.5)
Requirement already satisfied: six in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from nltk) (1.14.0)

In [7]:
import nltk
from nltk import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
import re
import string
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /home/faculty/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /home/faculty/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [8]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/faculty/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
# import nltk
# from nltk import sent_tokenize, word_tokenize
# from nltk.corpus import stopwords
# import re
# import string

In [9]:
# Display full output rather than just the last line of output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [10]:
import pandas as pd

PATH = 'https://raw.githubusercontent.com/uceikow/DataEngineeringGroupAO/master/Recipe_dataset/'

indian = pd.read_json(PATH + "data_indian.json")
indian['label'] = 'indian'
italian = pd.read_json(PATH + "data_italian.json")
italian['label'] = 'italian'
mexican = pd.read_json(PATH + "data_mexican.json")
mexican['label'] = 'mexican'

In [11]:
# Length of each dataset
len(indian)
len(mexican)
len(italian)

480

620

400

In [12]:
# Concat them into one dataset
recipe = pd.concat([indian, italian, mexican],ignore_index = True)
recipe

,Title,Description,label
0,Indian Peanut Stew,"This is an easy, authentic dish from South Asi...",indian
1,Roomali Roti,"There is no leavening in this simple, tender I...",indian
2,Spicy Sweet Potato Salad,It's important to use good mayonnaise in this ...,indian
3,Chicken Saag,The classic Indian chicken and spinach dish ge...,indian
4,Paleo Slow Cooker Pork Loin,Boneless pork loin slowly cooks in a curried f...,indian
...,...,...,...
1495,Taco Stew,Ground beef and onions sauteed with a packet o...,mexican
1496,Chicken Tortilla Soup in the Slow Cooker,Everyone loves using their slow cooker to make...,mexican
1497,Bountiful Garden Zucchini Enchiladas,Fresh zucchini and Monterey Jack cheese filled...,mexican
1498,Bean and Honey Burrito Casserole,Here's a great way to feed burritos to a crowd...,mexican
1499,Green Chile Chicken Stew,This stew will keep you warm and cozy on those...,mexican

## Clean dataset

In [13]:
# Clean the dataset
# Lowercase
recipe = recipe.apply(lambda row: row.str.lower())

# Remove digits
recipe['Title'] = recipe.apply((lambda row: ''.join([i for i in row['Title'] if not i.isdigit()])),axis = 1)
recipe['Description'] = recipe.apply((lambda row: ''.join([i for i in row['Description'] if not i.isdigit()])),axis = 1)

# Remove punctuations
recipe['Title'] = recipe.apply((lambda row: ''.join([i for i in row['Title'] if i not in string.punctuation])),axis=1)
recipe['Description'] = recipe.apply((lambda row: ''.join([i for i in row['Description'] if i not in string.punctuation])),axis=1)

# Remove Stopwords
stop = stopwords.words('english')
recipe['Title'] = recipe['Title'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
recipe['Description'] = recipe['Description'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [14]:
recipe.head()

,Title,Description,label
0,indian peanut stew,easy authentic dish south asia appeals wide ra...,indian
1,roomali roti,leavening simple tender indian flatbread bread...,indian
2,spicy sweet potato salad,important use good mayonnaise recipe let cooke...,indian
3,chicken saag,classic indian chicken spinach dish gets richn...,indian
4,paleo slow cooker pork loin,boneless pork loin slowly cooks curried fruit ...,indian

## Pattern Exploration

Before splitting the dataset and writing labelling function,  we might want to first get an idea of how our targetting labels look like. This gives us some basic information of how to start building the labelling function.

In [15]:
# Patterns from different recipes

# Filter out different recipes
recipe_ind = recipe[recipe['label'] == 'indian']
recipe_ita = recipe[recipe['label'] == 'italian']
recipe_mex = recipe[recipe['label'] == 'mexican']

# Word frequency in 'Title'
top_N = 15

title1 = recipe_ind.Title.str.cat(sep=' ')
words_in_title1 = nltk.tokenize.word_tokenize(title1)
word_dist_title1 = nltk.FreqDist(words_in_title1)

title2 = recipe_ita.Title.str.cat(sep=' ')
words_in_title2 = nltk.tokenize.word_tokenize(title2)
word_dist_title2 = nltk.FreqDist(words_in_title2)

title3 = recipe_mex.Title.str.cat(sep=' ')
words_in_title3 = nltk.tokenize.word_tokenize(title3)
word_dist_title3 = nltk.FreqDist(words_in_title3)

ind_freq = pd.DataFrame(word_dist_title1.most_common(top_N),
                    columns=['Indian', 'Frequency'])
ita_freq = pd.DataFrame(word_dist_title2.most_common(top_N),
                    columns=['Italian', 'Frequency'])
mex_freq = pd.DataFrame(word_dist_title3.most_common(top_N),
                    columns=['Mexican', 'Frequency'])

title_freq = pd.concat([ind_freq,ita_freq,mex_freq],axis = 1)
title_freq

     Indian  Frequency    Italian  Frequency     Mexican  Frequency
0   chicken         92    italian         76     chicken        118
1     curry         82    chicken         52     mexican        100
2    indian         72      pasta         45  enchiladas         57
3    masala         30      sauce         38        taco         41
4      rice         28    lasagna         33        soup         39
5     spicy         25    sausage         23        bean         37
6   curried         21      pizza         23       salsa         36
7    paneer         20         ii         23   casserole         36
8   chutney         20  spaghetti         19        beef         31
9      soup         20      bread         18        rice         30
10    salad         19     cheese         17       tacos         30
11     easy         19       soup         16        easy         29
12     lamb         17     tomato         16   enchilada         27
13   tomato         17      salad         13         dip         27
14   potato         16       easy         12          ii         26

It is easier to find patterns and differences of recipes if we display titles of three recipes together. The same goes for description.

In [16]:
# Word frequency in 'Description'
top_N =20

des1 = recipe_ind.Description.str.cat(sep=' ')
words_in_des1 = nltk.tokenize.word_tokenize(des1)
word_dist_des1 = nltk.FreqDist(words_in_des1)

des2 = recipe_ita.Description.str.cat(sep=' ')
words_in_des2 = nltk.tokenize.word_tokenize(des2)
word_dist_des2 = nltk.FreqDist(words_in_des2)

des3 = recipe_mex.Description.str.cat(sep=' ')
words_in_des3 = nltk.tokenize.word_tokenize(des3)
word_dist_des3 = nltk.FreqDist(words_in_des3)

d1_freq = pd.DataFrame(word_dist_des1.most_common(top_N),
                    columns=['Ind_description', 'Frequency'])
d2_freq = pd.DataFrame(word_dist_des2.most_common(top_N),
                    columns=['Ita_description', 'Frequency'])
d3_freq = pd.DataFrame(word_dist_des3.most_common(top_N),
                    columns=['Mex_description', 'Frequency'])

des_freq = pd.concat([d1_freq,d2_freq,d3_freq],axis=1)
des_freq

,Ind_description,Frequency,Ita_description,Frequency,Mex_description,Frequency
0,indian,119,italian,79,chicken,126
1,curry,101,sauce,63,beef,77
2,dish,83,cheese,61,recipe,77
3,chicken,80,pasta,51,cheese,76
4,recipe,61,chicken,49,mexican,69
5,rice,53,recipe,43,corn,68
6,spicy,51,easy,41,make,68
7,spices,50,garlic,36,sauce,64
8,made,48,tomatoes,35,beans,62
9,sauce,44,dish,35,salsa,58
10,easy,41,delicious,35,spicy,53
11,simmered,39,make,31,tortillas,53
12,yogurt,36,tomato,31,easy,51
13,potatoes,35,fresh,29,ground,48
14,make,35,bread,29,rice,47
15,delicious,34,and…,28,great,46
16,coconut,31,baked,28,made,42
17,and…,27,creamy,25,tomatoes,42
18,cumin,27,lasagna,25,taco,40
19,sweet,26,great,24,and…,39

From this point, we see that there are something more to do with data cleaning. 

- Get rid of those " ..."
- Are Verbs, Conjuctions and prepositions important in our case, if not, we can clear them, only leaving Nouns in our dataset.
- Stemming words (*curry* and *curried* should be of the same thing)

**Re-clean the dataset**

The dataset is scraped from an online recipe website. We only captured part of the description, and some of them contains "…" if the sentence does not ended when capped.

In [17]:
# Remove "..." from description
recipe['Description'] = recipe.Description.apply(lambda x: re.sub(r'…','',x))

Part-pf-speech is used to remove verbs, prepositions, conjunctions from the text.

In [18]:
# Remove verb, prepositions, conjunctions from the text

# Part of speech
recipe['tokens'] = recipe.Description.apply(lambda x: nltk.word_tokenize(x))
recipe['tagged'] = recipe.tokens.apply(lambda x: nltk.pos_tag(x))

In [19]:
# Define remove function
def re_pos(tuple_list):
    for i in tuple_list:
        if i[1] in ['VB','VBD','VBG','VBN','VBP','VBZ','CC','IN']:
            tuple_list.remove(i)
    return tuple_list

In [20]:
# Remove unwanted words and change tokens
recipe['tagged'] = recipe.tagged.apply(lambda x: re_pos(x))
recipe['tokens'] = recipe.tagged.apply(lambda x: [i[0] for i in x])
recipe['Description'] = recipe.tokens.apply(lambda x: ' '.join(x))

In [21]:
recipe.head()

,Title,Description,label,tokens,tagged
0,indian peanut stew,easy authentic dish south asia appeals wide ra...,indian,"[easy, authentic, dish, south, asia, appeals, ...","[(easy, JJ), (authentic, JJ), (dish, NN), (sou..."
1,roomali roti,simple tender indian flatbread flour oil salt,indian,"[simple, tender, indian, flatbread, flour, oil...","[(simple, JJ), (tender, NN), (indian, JJ), (fl..."
2,spicy sweet potato salad,important use good mayonnaise recipe let potatoes,indian,"[important, use, good, mayonnaise, recipe, let...","[(important, JJ), (use, NN), (good, JJ), (mayo..."
3,chicken saag,classic indian chicken spinach dish richness s...,indian,"[classic, indian, chicken, spinach, dish, rich...","[(classic, JJ), (indian, JJ), (chicken, NN), (..."
4,paleo slow cooker pork loin,boneless pork slowly cooks fruit sauce tender ...,indian,"[boneless, pork, slowly, cooks, fruit, sauce, ...","[(boneless, NN), (pork, NN), (slowly, RB), (co..."

After re-cleaning, let's see the change of patterns.

In [22]:
# Patterns after re-cleaning
recipe_ind = recipe[recipe['label'] == 'indian']
recipe_ita = recipe[recipe['label'] == 'italian']
recipe_mex = recipe[recipe['label'] == 'mexican']

top_N =20

des1 = recipe_ind.Description.str.cat(sep=' ')
words_in_des1 = nltk.tokenize.word_tokenize(des1)
word_dist_des1 = nltk.FreqDist(words_in_des1)

des2 = recipe_ita.Description.str.cat(sep=' ')
words_in_des2 = nltk.tokenize.word_tokenize(des2)
word_dist_des2 = nltk.FreqDist(words_in_des2)

des3 = recipe_mex.Description.str.cat(sep=' ')
words_in_des3 = nltk.tokenize.word_tokenize(des3)
word_dist_des3 = nltk.FreqDist(words_in_des3)

d1_freq = pd.DataFrame(word_dist_des1.most_common(top_N),
                    columns=['Ind_description', 'Frequency'])
d2_freq = pd.DataFrame(word_dist_des2.most_common(top_N),
                    columns=['Ita_description', 'Frequency'])
d3_freq = pd.DataFrame(word_dist_des3.most_common(top_N),
                    columns=['Mex_description', 'Frequency'])

des_freq = pd.concat([d1_freq,d2_freq,d3_freq],axis=1)
des_freq

,Ind_description,Frequency,Ita_description,Frequency,Mex_description,Frequency
0,indian,129,italian,84,chicken,113
1,curry,96,cheese,66,beef,80
2,dish,84,sauce,57,cheese,79
3,chicken,73,pasta,51,mexican,77
4,recipe,58,recipe,43,corn,72
5,rice,53,chicken,42,recipe,71
6,spices,51,easy,42,beans,62
7,spicy,51,delicious,39,spicy,54
8,easy,43,tomatoes,35,sauce,54
9,yogurt,38,garlic,34,salsa,53
10,sauce,36,dish,34,easy,53
11,potatoes,35,tomato,31,tortillas,52
12,delicious,35,fresh,31,ground,49
13,cumin,29,bread,30,rice,49
14,fresh,29,lasagna,26,great,48
15,coconut,28,great,25,green,44
16,masala,26,beef,25,tomatoes,41
17,milk,26,mozzarella,24,taco,39
18,sweet,25,creamy,23,fresh,38
19,simple,23,simple,22,onion,37

<div class="alert alert-success">

As you might have noticed, indian food and mexican food share some similarities, such as spicy-related words, sauce-related words, rice, etc. This is somewhere that we need to keep an eye on.
</b>

**Ideas of building Labelling functions:**

- Single word (specific ones), such as curry, masala, paneer and chutney for indian repice. These words can label one type of recipe quite well because of their specialty (they will not appear in other recipes). Except for words included in top 15 frequency list, they must be other special words, which might need go through the whole dataset to find.

- Word combos, such as **curry + chicken = indian** :) You might find that chicken are used a lot in both indian and mexican recipe, while a way to label them might be find a **word combos** (function = special word + main ingrediant).

- Unique wordlist difference! Check if any of word are unique for that kind of recipe but not in other recipes.

In [23]:
# Copy the orginal dataset for further pattern exploration
recipe_ex = recipe.copy()
recipe = recipe.drop(columns = ['tokens','tagged'])

## Split the dataset

As being discussed in group meeting, we split the dataset into training, validation, development and test datasets.

If we do multi-labelling, we need to make sure that all datasets above contains same proportion of the 3 recipes. I decided to have 30% labelled data, in which 10% for dev set, 10% for validation set, and the remaining 10% for test set. We left 70% data to training set.

In [64]:
# Split the dataset
# Use ShuffleStratifiedSplit to ensure same proportion of each dataset
from sklearn.model_selection import StratifiedShuffleSplit
sss = StratifiedShuffleSplit(n_splits=3, test_size=0.3, random_state=0)

# Get different labelled data
ind = recipe[recipe['label'] == 'indian']
ind.reset_index(drop=True,inplace=True)
ita = recipe[recipe['label'] == 'italian']
ita.reset_index(drop=True,inplace=True)
mex = recipe[recipe['label'] == 'mexican']
mex.reset_index(drop=True,inplace=True)

# Split function (leave 70% for training)
def shuffle_split(df,sss):
    X = df[['Title','Description']]
    y = df['label']
    for train_index, test_index in sss.split(X, y):
        X_train, X_test = X.loc[train_index], X.loc[test_index]
        y_train, y_test = y[train_index], y[test_index]
        return X_train, X_test, y_train, y_test

ind_X_train, ind_X_test, ind_y_train, ind_y_test = shuffle_split(ind,sss)
ita_X_train, ita_X_test, ita_y_train, ita_y_test = shuffle_split(ita,sss)
mex_X_train, mex_X_test, mex_y_train, mex_y_test = shuffle_split(mex,sss)

In [25]:
print('indian: ',len(ind_X_train),len(ind_X_test))
print('italian: ',len(ita_X_train),len(ita_X_test))
print('mexican: ',len(mex_X_train),len(mex_X_test))

indian:  336 144
italian:  280 120
mexican:  434 186

In [26]:
# Combine training and test dataset
X_train = pd.concat([ind_X_train,ita_X_train,mex_X_train],axis=0)
y_train = pd.concat([ind_y_train,ita_y_train,mex_y_train],axis=0)
X_test =  pd.concat([ind_X_test,ita_X_test,mex_X_test],axis=0)
y_test =  pd.concat([ind_y_test,ita_y_test,mex_y_test],axis=0)

In [27]:
# Combine training dataset
train = pd.concat([X_train,y_train],axis=1)

In [28]:
# Combine the test dataset for next splitting
test = pd.concat([X_test,y_test],axis=1)
test = test.reset_index(drop=True)

Split development and validation dataset from test dataset.

In [29]:
# From randomly sampled test set get dev set and validation set.

ind_val, ind_dev = test[:48], test[48:96]
ita_val, ita_dev = test[144:184], test[184:224]
mex_val, mex_dev = test[264:326], test[326:388]
ind_test, ita_test, mex_test = test[96:144],test[224:264],test[388:450]

In [30]:
# Combine val, dev and test set

val = pd.concat([ind_val,ita_val,mex_val],axis=0)
dev = pd.concat([ind_dev,ita_dev,mex_dev],axis=0)
test_n = pd.concat([ind_test,ita_test,mex_test],axis=0)

As we split the dataset by different countries, we need to shuffle them before training.

In [31]:
from sklearn.utils import shuffle
train = shuffle(train, random_state = 42)
test = shuffle(test_n, random_state = 42)
val = shuffle(val, random_state = 42)
dev = shuffle(dev, random_state = 42)

To apply LFAnalysis, we need to change labels to number.

In [32]:
# Change labels to number
def label_to_num(df):
    df.label = df.label.apply(lambda x: 0 if x == 'indian' else(1 if x == 'italian' else 2))
    return df
    
test = label_to_num(test)
val = label_to_num(val)
dev = label_to_num(dev)

In [33]:
# Prepare for later training
df_train = train.iloc[:,:2]
df_val = val.iloc[:,:2]
df_dev = dev.iloc[:,:2]
Y_val = val.iloc[:,-1].values
Y_dev = dev.iloc[:,-1].values

# Labelling functions

In [34]:
from snorkel.labeling import labeling_function

In [35]:
# For clarity, we define constants to represent the class labels and abstaining.
ABSTAIN = -1
INDIAN = 0
ITALIAN = 1
MEXICAN = 2

## Keywords LFs

In [36]:
ind_keywords = ['curry','indian','masala','paneer','chutney','curried',
                'simmered','cumin','yogurt','coconut']

@labeling_function()
def indian_keywords(x):
        if any(word in x.Title for word in ind_keywords):
            return INDIAN
        else:
            return ABSTAIN

In [37]:
# Unique word checking
import numpy as np

ind_values = np.unique(words_in_des1)
ita_values = np.unique(words_in_des2)
mex_values = np.unique(words_in_des3)

In [38]:
# Check words in indian but not in mexican and italian
word_diff_ind_mex = np.setdiff1d(ind_values,mex_values)
word_diff_ind_ita = np.setdiff1d(ind_values,ita_values)
word_for_ind = np.intersect1d(word_diff_ind_mex,word_diff_ind_ita)

In [39]:
@labeling_function()
def ind_unique_words(x):
        if any(word in x.Description for word in word_for_ind):
            return INDIAN
        else:
            return ABSTAIN

In [40]:
# Word Combo curry + meat
@labeling_function()
def currymeat(x):
    return INDIAN if re.search(r"(?=.*curry)(?=.*(chicken|lamb|beef))", x.Description, flags=re.I) else ABSTAIN

Some words in indian recipe, such as *rice, sauce, etc* might comflict with mexican recipe, however, as country_name + rice / sauce can be a good seperator.

In [41]:
# County name + food name
@labeling_function()
def ind_food(x):
    return INDIAN if re.search(r"(?=.*indian)(?=.*(rice|sauce|potatoes))", x.Description, flags=re.I) else ABSTAIN

In [42]:
from snorkel.labeling import PandasLFApplier

lfs = [indian_keywords, currymeat, ind_food, ind_unique_words]

applier = PandasLFApplier(lfs=lfs)
L_train = applier.apply(df=df_train)
L_dev = applier.apply(df=df_dev)

100%|██████████| 1050/1050 [00:03<00:00, 304.50it/s]
100%|██████████| 150/150 [00:00<00:00, 297.76it/s]

In [43]:
from snorkel.labeling import LFAnalysis

LFAnalysis(L=L_train, lfs=lfs).lf_summary()

                  j Polarity  Coverage  Overlaps  Conflicts
indian_keywords   0      [0]  0.163810  0.152381        0.0
currymeat         1      [0]  0.021905  0.021905        0.0
ind_food          2      [0]  0.020952  0.020952        0.0
ind_unique_words  3      [0]  0.514286  0.174286        0.0

In [44]:
LFAnalysis(L=L_dev, lfs=lfs).lf_summary(Y=Y_dev)

,j,Polarity,Coverage,Overlaps,Conflicts,Correct,Incorrect,Emp. Acc.
indian_keywords,0,[0],0.173333,0.146667,0.0,25,1,0.961538
currymeat,1,[0],0.020000,0.020000,0.0,3,0,1.000000
ind_food,2,[0],0.033333,0.033333,0.0,5,0,1.000000
ind_unique_words,3,[0],0.473333,0.173333,0.0,44,27,0.619718

There is one misclassified case in the first LF and nearly half misclassified in the third LF. Let's check them.

In [45]:
from snorkel.analysis import get_label_buckets

buckets1 = get_label_buckets(Y_dev, L_dev[:, 0])
df_dev.iloc[buckets1[(MEXICAN, INDIAN)]]

buckets2 = get_label_buckets(Y_dev, L_dev[:, 3])
df_dev.iloc[buckets2[(MEXICAN, INDIAN)]]

,Title,Description
333,fish tacos honeycumin cilantro slaw chipotle mayo,whats flavorful tacos stuffed fried tilapia with

,Title,Description
379,hot bean dip,bean dip sooooo good easy always make super
348,taco seasoning ii,mixture little cornstarch closely the
370,margaritas rocks,sweet sour tequila triple sec grand marnier sq...
365,mexican turkey burgers,inspired mexican tortillas american burgers de...
369,chicken taco casserole,favorite taco fixings crowdpleasing casserole ...
346,mrs espys enchilada sauce,tomato sauce water seasonings browned flour ch...
380,mexican lasagna lite,light ingredients refried beans enchilada sour
355,carrot chile cilantro soup,delicious soup combines carrots potatoes garli...
331,turkey posole,authentic rural mexican dish usually prepared ...
349,pico de gallo,fresh tomato salsa red onion jalapeno lime jui...
352,quick easy minute chicken posole,strips breast simmered chicken broth green chi...
336,mexican whole wheat flour tortillas,mexican tortillas fajitas quesadillas mexican ...
327,beccas taco soup,taco ingredients ground beef onion corn kidney...
357,beef bean chimichangas,awesome recipe mexican food tasty beef bean tr...
353,sour cream enchiladas,sour cream cream chicken soup tasty sauce chee...
329,cinnamon lime chicken fajitas,potatoes breast meat warm lively seasonings fi...

It mixed with mexican recipe.

# Italian recipies and attempt to multilabel

From labelling indian part we take the same approach and apply it to label italian dishes. Firstly, attemtpt is made to make multilabelling in one function.

In [67]:
ita_keywords = ['pasta','mozzarella', 'lasagna','pesto','dente', 'pizza']

@labeling_function()
def italian_keywords(x):
        if any(word in x.Title for word in ita_keywords):
            return ITALIAN
        else:
            return ABSTAIN

In [68]:
# Word Combo curry + meat
@labeling_function()
def pasta_with(x):
    return ITALIAN if re.search(r"(?=.*pasta)(?=.*(chicken|lamb|beef|pesto|creamy|shrimps|cheese))", x.Description, flags=re.I) else ABSTAIN

In [66]:
lf_combo = [italian_keywords,pasta_with]

applier = PandasLFApplier(lfs=lf_combo)
L_train = applier.apply(df=df_train)
L_dev = applier.apply(df=df_dev)

LFAnalysis(L=L_train, lfs=lf_combo).lf_summary()
LFAnalysis(L=L_dev, lfs=lf_combo).lf_summary(Y=Y_dev)

  0%|          | 0/1050 [00:00<?, ?it/s]



100%|██████████| 1050/1050 [00:00<00:00, 5778.91it/s][A




100%|██████████| 150/150 [00:00<00:00, 5315.12it/s]

             j Polarity  Coverage  Overlaps  Conflicts
combination  0   [0, 1]  0.227619  0.005714        0.0
pasta_with   1      [1]  0.019048  0.005714        0.0

,j,Polarity,Coverage,Overlaps,Conflicts,Correct,Incorrect,Emp. Acc.
combination,0,"[0, 1]",0.24,0.0,0.0,33,3,0.916667
pasta_with,1,[],0.00,0.0,0.0,0,0,0.000000

## RDD LF applier